.agenndamento-filtros {
    background-color: #001f62;
    border: 1px solid #123b99;
}

.agenndamento-filtros .form-label, .agenndamento-filtros #resumo-lista {
    color: #e6f1ff;
}

.table td, .table th {
    vertical-align: middle;
}
