header.navbar {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000528;
    padding: 5px;
}

.navbar-brand {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

header a {
    color: #ddd;
    margin-left: 15px;
}

header a:hover {
    color: #fff;
}

#acessarLogin {
    margin-left: auto;
}

#linkLogin {
    padding: 5px 30px;
}