header.navbar {
    background-color: blue;
    padding: 12px 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

header a {
    color: #ddd;
    margin-left: 15px;
}

header a:hover {
    color: #fff;
}

.btn-link {
    text-decoration: none;
    font-weight: 500;
}

.link-cadastro {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.link-cadastro:hover {
    color: rgb(7, 3, 253);
    text-decoration: underline;
}

.modal-content {
    background: rgb(4, 4, 177);
}

.modal-content h1 {
    color: #ddd;
    font-weight: 800;
}

.modal-content p {
    color: #ddd;
}

.modal-content label {
    color: #ddd;
}

.modal-body p {
    color: #ddd;
}