<header class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <h1>Cardoso Lavação</h1>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#AcessarLogin">Acessar</button>
        <a href="/index.html"><i class="bi bi-box-arrow-right" title="Sair"></i></a>
    </div>

    <div class="modal fade" id="AcessarLogin" tabindex="-1" aria-labelledby="ModalLabelLogin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabelLogin">Login de Acesso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>CPF:</p>
                    <input type="text" id="cpf-login" placeholder="EX: 000.000.000-00">
                    <p>Senha:</p>
                    <input type="password" id="senha-login" placeholder="Insira sua senha.">
                    <p>Não possui cadastro?<a href="#" class="link-cadastro" data-bs-toggle="modal"
                            data-bs-target="#CriarCadastro">Criar cadastro</a></p>
                </div>
                <div class="modal-footer">
                    <button id="cancelarLogin" type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="cancelarLogin()">Cancelar</button>
                    <button type="button" id="salvarLogin" class="btn btn-success">Acessar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CriarCadastro" tabindex="-1" aria-labelledby="ModalLabelCadastro" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="ModalLabelCadastro">Novo Cadastro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Nome:</p>
                    <input type="text" id="nome" placeholder="Gabriel Silva">
                    <p>CPF:</p>
                    <input type="text" id="cpf-cadastro" placeholder="EX: 000.000.000-00">
                    <p>Número de telefone:</p>
                    <input type="number" id="numero-telefone" placeholder="(00) 91234-5678">
                    <p>Nome carro:</p>
                    <input type="text" id="nome-carro" placeholder="Nome do carro">
                    <p>Marca:</p>
                    <input type="text" id="marca-carro" placeholder="Marca do carro">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="checkNativeSwitch">
                            Placa Mercosul
                        </label>
                        <input class="form-check-input" type="checkbox" value="" id="switchMercosul" switch>
                    </div>
                    <p>Placa veículo</p>
                    <input type="text" id="placa-carro">
                    <p>Senha:</p>
                    <input type="password" id="senha-cadastro" placeholder="Insira sua senha.">
                    <input type="password" id="confirmar-senha" placeholder="Confirme a sua senha.">
                    <p id="erroSenha" style="color:red"></p>
                </div>
                <div class="modal-footer">
                    <button id="cancelarCadastro" type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="cancelarCadastro()">Cancelar</button>
                    <button type="button" id="salvarCadastro" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastSalvar" class="toast" aria-live="assertive" aria-atomic="true" role="alert">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Cardoso Lavação</strong>
                <small>2 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">

            </div>
        </div>
    </div>

    <div class="modal fade" id="CancelarAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja cancelar o agendamento?
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Caso o agendamento ser cancelado, as modificações não serão salvas!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
                    <button id="confirmarCancelamento" type="button" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>



    <script src="js/salvarCliente.js" defer></script>
    <script src="js/cancelarCadastro.js" defer></script>
    <script src="js/login.js" defer></script>
    <script src="js/cadastro.js" defer></script>
</header>